



/* section{
    width: 800px;
    background-color: aqua;
}

div{
    width: 100%;
    width: 50%;
    background-color: orange;
    border: 1px dashed red;
} */



ul>li{
    font-size: 2em;
    font-size: 2rem;
}
